@page "/home"

<PageTitle>Home</PageTitle>

<h1>Gestion de Torneos</h1>

Bienvenido a la mejor aplicacion de gestion de torneos, donde podras encontrar torneos de todas las variedades de juegos, con gente de todo el mundo!.
Entra, disfruta, competi y GANA!
