<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestion de Torneos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuario">
                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Usuario
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="torneo">
                <span class="bi bi-joystick-nav-menu" aria-hidden="true"></span> Torneo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipoTorneo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tipo de Torneos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="juegos">
                <span class="bi bi-joystick-nav-menu" aria-hidden="true"></span> Juegos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inscripciones">
                <span class="bi bi-book-fill-nav-menu" aria-hidden="true"></span> Incripciones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipos">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Equipos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="actualizarPerfil">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Actualizar Perfil
            </NavLink>
        </div>

    </nav>
</div>

